body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
  color: #0056b3;
}
.header {
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  margin: 0;
}
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}
.contact-info p {
  margin: 5px 0;
}
.Contact_Me{
  text-align: center;
  margin-bottom: 20px;
}
.section {
  margin-bottom: 30px;
}
.section h2 {
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
}
.section ul {
  list-style-type: none;
  padding: 0;
}
.section ul li {
  margin: 10px 0;
}
.skills li,
.education li {
  margin: 5px 0;
}

.highlight {
  background-color: yellow;
}

 .some-random-class {
  background-color: pink;
} 

.contact p {
  text-align: center;
  letter-spacing: 5px;
}

.contact a {
 color: #2C2C2C;
 text-decoration: none;
}

.break {
 display: none;
}

.clearfix {
 clear: both;
 height: 3%;
}

.parallax {
 background: url("https://static.pexels.com/photos/30161/pexels-photo-30161.jpg") repeat fixed 100%;
 opacity: .5;
}

.parallax-inner {
 padding-top: 17%;
}

.social {
 list-style-type:  none;
 text-align: center;
}

.social li {
 display: inline;
}

.social i {
 font-size: 270%;
 margin: 1% 5% 7% 4%;
 color: #2C2C2C;
}

.social i:hover {
 color: #606060;
}

footer.second {
 background-color: #2C2C2C;
}

footer.second p {
 color: #fff;
 text-align: center;
 padding: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.header-content {
  max-width: 70%;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* Optional: makes the image circular */
  margin-left: 20px;
}

.contact-info {
  margin-top: 10px;
}

h1 {
  margin: 0;
}

